.tab-pane {
    height: 90vh;
}

body {
    overflow: hidden;
}

.pageListItem {
    width: 49%;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.pageListItem[data-select="left"], .pageListItem[data-select="right"], .pageListItem[data-select="cover"] {
    border: thin dashed rgb(141, 141, 141);
    filter: brightness(80%);
    background-color: rgba(204, 204, 204, 1);
}

.pageListItem[data-select="right"] {
    border-left: none;
}

.pageListItem[data-select="left"] {
    border-right: none;
}

.pageListItem>img {
    width: 100%;
    display: block;
    margin: auto;
}

.pageListItem>.short_filename {
    max-width: 90%;
}

.short_filename {
    direction: rtl;
    overflow: hidden;
    white-space: nowrap;
}

.short_filename>span {
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
    direction: ltr;
    padding: 0;
    margin: 0;
}

@supports(-webkit-text-fill-color: transparent) {
    .short_filename>span {
        background: linear-gradient(to left, black 80%, white);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.toc_label, .landmark_label, .svglinks_label {
    position: relative;
    height: 0em;
    width: 100%;
    float: left;
    overflow: visible;
    display: none;
    padding: 0;
    margin: 0;
    direction: ltr;
}

.toc_label[data-display="true"], .landmark_label[data-display="true"], .svglinks_label[data-display="true"] {
    display: block;
}

.toc_label>span, .landmark_label>span, .svglinks_label>span {
    position: relative;
    height: 2rem;
    border-radius: 0.3rem;
    padding: 0.2rem 0.3rem;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 98%;
    display: inline-block;
}

.toc_label>span {
    bottom: 5rem;
}

.landmark_label>span {
    bottom: 7rem;
}

.svglinks_label>span {
    bottom: 9rem;
}

.tab-pane {
    width: 90%;
    margin: 2vh 3% 0 3%;
}

a[data-dropdown-item-disable="true"] {
    cursor: not-allowed;
}

body[data-state="loading"] {
    cursor: wait;
}

.ae-clear {
    margin: 0;
    padding: 0;
}